<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webpan.dao.UserDao">
	<resultMap type="webpan.model.User" id="UserMap">
		<id column="user_id" property="UserID" jdbcType="INTEGER"/>
		<result column="user_name" property="UserName" jdbcType="VARCHAR"/>
		<result column="user_passwd" property="UserPass" jdbcType="VARCHAR"/>
		<result column="user_email" property="UserEmail" jdbcType="VARCHAR"/>
		<result column="user_usage" property="UserUsage" jdbcType="DOUBLE"/>
		<result column="user_storage" property="UserStorage" jdbcType="DOUBLE"/>
		<result column="user_key" property="UserKey" jdbcType="VARCHAR"/>
		<result column="user_type" property="UserType" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap type="webpan.model.Apply" id="ApplyMap">
		<id column="apply_id" property="ApplyID" jdbcType="INTEGER"/>
		<result column="apply_size" property="ApplySize" jdbcType="INTEGER"/>
		<result column="apply_status" property="ApplyStatus" jdbcType="BOOLEAN"/>
		<result column="apply_user" property="ApplyUser" jdbcType="VARCHAR"/>
		<result column="apply_manager" property="ApplyManager" jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap type="webpan.model.File" id="FileMap">
		<id column="file_id" property="FileID" jdbcType="INTEGER"/>
		<result column="file_name" property="FileName" jdbcType="VARCHAR"/>
		<result column="file_type" property="FileType" jdbcType="VARCHAR"/>
		<result column="file_size" property="FileSize" jdbcType="DOUBLE"/>
		<result column="file_upload_time" property="FileUploadTime" jdbcType="DATE"/>
		<result column="file_owner" property="FileOwner" jdbcType="INTEGER"/>
		<result column="file_hash" property="FileHash" jdbcType="VARCHAR"/>
		<result column="file_path" property="FilePath" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="login" resultMap="UserMap" parameterType="java.lang.String">
		select distinct *
		from user_info
		where user_name = #{User} and user_passwd = #{UserPass}
		or user_email = #{User} and user_passwd = #{UserPass}
	</select>
	<insert id="register" parameterType="java.lang.String">
		insert into user_info (user_name,user_passwd,user_email,user_key,user_usage,user_storage,user_type)
		value
		(#{UserName},#{Password},#{UserEmail},#{UserKey},0.0,10.0,'user')
	</insert>
	<select id="GetUserbyid" resultMap="UserMap" parameterType="java.lang.Integer">
		select distinct *
		from user_info
		where user_id = #{Id}
	</select>
	<select id="getFilebyid" resultMap="FileMap">
		select *
		from file_info
		where file_owner = #{Id}
	</select>
	<insert id="apply" parameterType="java.lang.String">
		insert into apply_info (apply_size,apply_status,apply_user,apply_manager)
		value
		(#{ApplySize},0,#{UserName},"")
	</insert>
	<select id="CheckName" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*)
		from user_info
		where user_name = #{UserName}
	</select>
</mapper>